body {
  background-image: linear-gradient(to right, #fdfdfd, #e7e6e7, #e2e2dc);
  margin: auto;
  font-size: small;
}

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5{
  font-family: Roboto, "Segoe UI", "San Francisco", "Open Sans", Verdana, Geneva, sans-serif
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #76a5da, #5936f4, #4caf50);
  margin: auto;
  height: 50px;
  h1 {
    font-weight: 700;
    text-align: center;
    color: #ad6c6c;
  }
}

.signup-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: auto;
  p {
    color: #888;
  }
}

.login-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  overflow: auto;
  p {
    color: #888;
  }
}

.modal {
  display: grid;
  padding: 25px;
  background-color: white;
  box-shadow: #888;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 10px;
  margin: auto;
  width: 25%;
  margin-right: 220px;
}

.locked {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.pic{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  margin-left: 220px;
  padding: 50px;
  img{
    width: 500px;
  }
}

.ormain {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  .ordiv1 {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgba(var(--b38,219,219,219),1);
    height: 2px;
    position: relative;
    top: .45em;
  }
  .ordiv2 {
    color: rgba(var(--f52,142,142,142),1);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    flex-direction: column;
    text-transform: uppercase;
  }
}

.btlogin {
  font-size: 13px;
  font-weight: 600;
  margin: 0 95px;
  padding-top: 20px;
  text-transform: capitalize;
  a {
    color: rgba(var(--f52,142,142,142),1);
    text-decoration: none;
  }
}

.storelink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 10px 0;
  .storelink-apl {
    padding: 5px;
    height: 43px;
    width: 121px;
    vertical-align: baseline;
  }
  .storelink-ggl {
    padding: 5px;
    height: 43px;
    width: 121px;
    vertical-align: baseline;
  }
}


#slider {
  opacity:1;
  transition: opacity 3s; 
  .fadeOut {
    opacity:0;
    transition: 3s;
  }
}

input[type=text], input[type=password] {
  width: 100%;
  height: 35px;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  background: #f1f1f1;
  border-radius: 10px;
  font-size: small;
  &:focus {
    background-color: rgb(156, 243, 199);
    outline: thick;
  }
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 35px;
  opacity: 0.9;
  border-radius: 10px;
  &:hover {
    opacity: 1;
  }
}


a {
  color: dodgerblue;
  color: #5936f4;
}

.control-group {
  margin-bottom: auto;
  margin-top: auto;
  padding: 15px;
  padding-left: 0%;
  padding-bottom: 10px;
}


.gender-radio {
  margin-bottom: auto;
  margin-top: auto;
  padding: 15px;
  padding-left: 0%;
  padding-top: 10px;
}

.signin {
  text-align: center;
  margin: 0em;
}

.dob-controls {
  align-items: right;
}

button {
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  font-size: medium;
  &:hover {
    opacity: 0.8;
  }
}


.sighupBtnLogin {
  width: auto;
  background-color: #4CAF50;
}

.sighupBtnForpwd {
  width: 100%;
  background-color: #5936f4;
}

.imgcontainer {
  text-align: center;
  margin: 100px 0 100px 0;
}


span.psw {
  float: right;
  padding-top: 16px;
}


.modal-content {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 200px;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 50%;
  align-self: center;
}


.close {
  position: absolute;
  right: 25px;
  top: 0px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  &:hover,&:focus{
    color: #38d39f;
    cursor: pointer;
  }
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0em;
  ul li {
    display: inline-flex;
    margin-left: 0em;
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
  }
  a {
  text-decoration: none;
  }
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media (max-width: 1199.98px) {
  .pic{
    display: none;
  }
}
